p{
  margin:0;
  padding:0;
  color: snow;
}

img{
    width: 25px;
    height: 25px;
    margin: 15px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color:#245e73;
    backdrop-filter: blur(1100px);
}

#Container{
    margin-top: 12vh;
    height: 550px;
    width: 400px;
    box-shadow: 5px 5px 12px #042937;
    border-radius: 25px;
    background-color:#2596be;
}

#data{
    margin-top: 60px;
    height: 410px;
    text-align: center;
}

#Upper{
    height: 260px;
}

#Details{
    display: flex;
    justify-content: space-around;
    background-color: #2182a4;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
    height: 100px;
}

/* Weather Information Styling */

#Country{
    font-size: 40px;
}

#Temp{
    font-size: 50px;
    margin: 20px;
}

#Condition{
    font-size: 25px;
}

form{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

#UserInput{
    border-radius: 50px;
    border: solid 1px snow;
    padding: 10px;
    width: 300px;
    font-size: 15px;
}

#SubmitBtn{
    border: solid 1px snow;
    background-color: snow;
    width: 40px;
    height: 40px;
    font-size: 17px;
    border-radius: 50%; 
}

#SubmitBtn:hover{
    cursor: pointer;
    border: solid 1px aquamarine;
    background-color: aquamarine;
}