p{
  margin:0;
  padding:0;
  color: snow;
}

img{
    width: 25px;
    height: 25px;
    margin: 15px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color:#245e73;
    backdrop-filter: blur(1100px);
}

#Container{
    margin-top: 7vh;
    height: 550px;
    width: 400px;
    box-shadow: 5px 5px 12px #042937;
    border-radius: 25px;
    background-color:#2596be;
}

#data{
    margin-top: 25px;
    height: 365px;
    text-align: center;
}

#layer1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#date{
    color: snow;
    border-radius: 25px;
    background-color: #2182a4;
    padding: 10px;
}

#Upper{
    height: 215px;
}

#Details{
    display: flex;
    justify-content: space-around;
    background-color: #2182a4;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
    height: 100px;
}

/* Weather Information Styling */

#Country{
    font-size: 40px;
}

#Temp{
    font-size: 50px;
    margin: 20px;
}

#Condition{
    font-size: 25px;
}

form{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

#UserInput{
    border-radius: 50px;
    border: solid 1px snow;
    padding: 10px;
    width: 300px;
    font-size: 15px;
}

#SubmitBtn{
    border: solid 1px snow;
    background-color: snow;
    width: 40px;
    height: 40px;
    font-size: 17px;
    border-radius: 50%; 
}

#SubmitBtn:hover{
    cursor: pointer;
    border: solid 1px #2182a4;
    background-color: #2182a4;
}

#MadeBy, a{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

/*toggle switch*/
.switch input {
    position: absolute;
    opacity: 0;
}
  
.switch {
    display: inline-block;
    font-size: 30px;
    height: 1em;
    width: 2em;
    background: #2182a4;;
    border-radius: 1em;
}
  
.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: rgb(255, 255, 255);
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
            transition: all 300ms;
}
  
.switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}

.toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    color: #4d4d4d;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 5px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked~.labels::after {
    opacity: 0;
  }

  .toggle input:checked~.labels::before {
    opacity: 1;
  }
